:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Roboto, sans-serif;
}

body.dark_mode {
  background-color: #222;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scro llbar-thumb {
  background-color: #454545;
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}

.overflow-hidden {
  overflow: hidden;
}

.container {
  max-width: 1466px;
  padding: 0 15px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-display: swap;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Raleway-Bold.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/Raleway-Medium.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/Roboto-Medium.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Roboto-Regular.woff) format("woff");
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: -1;
}

.overlay.open {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

.overlay.open-search {
  visibility: visible;
  opacity: 1;
  z-index: 12;
}

.slick-slide {
  margin: 0 8px;
}

@media (max-width: 800px) {
  .slick-slide {
    margin: 0 6px;
  }
}

.slick-track {
  padding-top: 8px;
}